<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
 <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="medium-10 columns medium-centered text-center panel">
        <h1>Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="button">Local Login</a>
    </div>

</div>
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
</body>
</html>
